name: deploy
on:
  push:
    branches: [ master ]

jobs:
  deploy:
    environment: developpement
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup php with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, xml, ctype, iconv, intl
      - name: deploy
        uses: deployphp/acion@v1
        with:
          private-key: ${{ secrets.SSH_PRIVATE }}
